body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1e;
  color: #f1f1f1;
  font-size: 30px;
  overflow: hidden;
}

button {
  background-color: #ecf0f1;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.BoardTile {
  width: "100px";
  height: "100px";
  margin: 0;
  cursor:pointer;
}