body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1e;
  color: #f1f1f1;
  font-size: 30px;
  overflow: hidden;
}

button {

  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.BoardTile {
  width: "100px";
  height: "100px";
  margin: 0;
  cursor:pointer;
}

.game-container {
  padding: 20px;
}
.choose-mode, .game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.game-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.game-item {
  width: 300;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.player-name {
  font-weight: bold;
  padding-left: 10px;
}
.login-prompt {
  text-align: center;
  font-size: 1.2em;
  color: #777;
}
